.generalBody{
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: static;    
}
.Blueline{
    background: linear-gradient(-20deg, #258ca2 0%, #05cffc 100%);
    height: 50px;
    display: flex;
    position: static;
    align-items: center;
}
.welcome{
    padding-left: 3%;
}
.Whiteline{
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Josefin Sans;
}
